.AtividadeMixin .card-primario {
  background-color: pink;
  color: black;
  border-radius: 5px;
  padding: 20%;
  width: 500px;
  height: 100px;
  box-shadow: 0 2px 10px purple;
}

.loops .col-1 {
  width: 8.3333333333%;
}
.loops .col-2 {
  width: 16.6666666667%;
}
.loops .col-3 {
  width: 25%;
}
.loops .col-4 {
  width: 33.3333333333%;
}
.loops .col-5 {
  width: 41.6666666667%;
}
.loops .col-6 {
  width: 50%;
}
.loops .col-7 {
  width: 58.3333333333%;
}
.loops .col-8 {
  width: 66.6666666667%;
}
.loops .col-9 {
  width: 75%;
}
.loops .col-10 {
  width: 83.3333333333%;
}
.loops .col-11 {
  width: 91.6666666667%;
}
.loops .col-12 {
  width: 100%;
}
.loops div {
  height: 50px;
  background-color: dimgray;
  border: 2px solid white;
}
.loops .linha {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.animacoes button {
  background-color: aqua;
  transition: background-color 1s;
}
.animacoes button:hover {
  background-color: deeppink;
  transform: scale(1.5);
}